<%= form_with(model: sample, local: true, class: "needs-validation") do |form| %>
  <% if sample.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% sample.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :code, 'Código de Muestra', class: "form-label fw-bold text-dark" %>
    <%= form.text_field :code, class: "form-control border-primary", placeholder: "Ejemplo: M001" %>
  </div>

  <div class="mb-4">
    <%= form.label :results, 'Resultados', class: "form-label fw-bold text-dark" %>
    <%= form.text_area :results, class: "form-control border-primary", placeholder: "Escribe los resultados..." %>
  </div>

  <% if current_user.laboratorista? %>
    <div class="mb-4">
      <%= form.label :user_id, 'Asignar a Cliente', class: "form-label fw-bold text-dark" %>
      <%= form.collection_select :user_id, User.where(role: :cliente), :id, :email, prompt: "Seleccione un cliente", class: "form-select border-primary" %>
    </div>
  <% end %>

  <div class="text-center">
    <%= form.submit(class: "btn btn-success px-4") %>
  </div>
<% end %>
