<h1 class="text-center text-primary mb-4">Editar Costo por Tipo de Cliente</h1>

<div class="container mt-4 shadow-lg p-5 bg-light rounded">
  <%= form_with model: @costos_servicio_por_tipo_cliente, local: true do |form| %>

    <!-- Tipo de Cliente -->
    <div class="mb-4">
      <%= form.label :tipo_cliente_id, 'Tipo de Cliente', class: "form-label fw-bold text-dark" %>
      <%= form.collection_select :tipo_cliente_id, TipoCliente.all, :id, :nombre, {}, class: "form-select border-primary" %>
    </div>

    <!-- Servicio -->
    <div class="mb-4">
      <%= form.label :codigo_servicio, 'Código del Servicio', class: "form-label fw-bold text-dark" %>
      <%= form.select :codigo_servicio, Servicio.all.map { |s| [s.nombre, s.codigo_servicio] }, {}, class: "form-select border-primary" %>
    </div>

    <!-- Costo -->
    <div class="mb-4">
      <%= form.label :costo, 'Costo (S/)', class: "form-label fw-bold text-dark" %>
      <%= form.number_field :costo, step: 0.01, class: "form-control border-primary" %>
    </div>

    <!-- Botones -->
    <div class="text-center">
      <%= form.submit 'Actualizar Costo', class: "btn btn-success px-4 py-2 fw-bold" %>
      <%= link_to 'Volver', costos_servicio_por_tipo_clientes_path, class: "btn btn-secondary px-4 py-2 fw-bold ms-3" %>
    </div>
  <% end %>
</div>
